
body {
  box-sizing: border-box;
  background-color: #ffffff;

}
.container-centered {
  margin: 20px auto;
  width: 1024px;
  font-family: "Heebo", sans-serif;
  font-size: 18px;
  line-height: 1.5;
  background-color: #ffffff;
  box-shadow: 10px 10px 40px -1px rgba(0, 0, 0, 0.23);
}

.two-columns {
  display: flex;
}

.left-column {
  width: 42%;
 background-color: #f5cb58;
}

.right-column {
  width: 58%;
  padding: 40px;
}

header {
  padding: 30px;
  text-align: center;
  background-color: #ffffff;
}

header img {
  margin-bottom: 10px;
  border: 10px solid #f5cb58;
  border-radius: 50%;
}

header h1 {
  margin-bottom: 20px;
  font-size: 2rem;
  font-weight: 800;
  line-height: 1,5;
  text-transform: uppercase;
  letter-spacing: 7px;
}

header h2 {
  margin-bottom: 40px;
  padding-top: 20px;
  color: #5f5c5c;
  letter-spacing: 3px;
  border-top: 2px solid #f5cb58;
}



main h3 {
  width: 100%;
  padding: 15px 0 15px 0;
 
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 7px;
  color: #ffffff;
  background-color: #353030; ;
}
main .contacts h3 {
  margin-top: 0;
  margin-bottom: 0;
  transform: translate(0, -50%);
}

main ul {
  margin-top: 0px;
}

main li {
  margin-bottom: 10px;
  
}

.contacts li img {
  vertical-align: middle;
  margin-left: 55px;
  margin-right: 25px ;
}

.contacts li p {
  display: inline;
  vertical-align: middle;
  text-align: center;
}

.contacts a {
  text-decoration: none;
  color: #353030;
}

.contacts a:hover {
  color: #5f5c5c;
}

main :not(.contacts) ul {
  list-style-type: disc;
  margin-left: 80px;
  margin-top: 30px;
}

.skills li{
  margin-bottom: 20px;
}

.software li{
  margin-bottom: 20px;
}


.language-name {
  font-weight: 700;
  text-transform: uppercase;
}

.header-strong {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.languages li {
  margin-bottom: 30px;
}

.right-column .sub-header {
  display: flex;
  margin-top: 30px;
  margin-bottom: 25px;
}

.right-column .about-myself .sub-header {
  margin-top: 0;

}

.about-myself p {
  margin-bottom: 20px;
  margin-left: 45px;
  margin-top: 20px;
}

.about-myself p:last-of-type {
  margin-bottom: 30px;
}

.right-column h3 {
  flex: 1;
  vertical-align: middle;
  text-align: center;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #161615;
  border-bottom: 2px solid #f5cb58;
}



.right-column p {
  color: #5f5c5c;
  
}

.education p {
  margin-left: 45px;
}
.courses p {
  margin-left: 45px;
  
}
.education ul {
  list-style-type: disc;
  margin-left: 65px;
  margin-bottom: 30px;
  margin-top: 30px;
}

.education li {
  margin-bottom: 30px;
}

.education p strong {
  font-weight: 700;
}

.courses ul {
  list-style-type: disc;
  margin-left: 65px;
  margin-bottom: 30px;
  margin-top: 30px;
}



.courses li {
  margin-bottom: 30px;
  color: #353030;
}

.right-column img.project {
  display: block;
  margin: 0 auto;
}

.projects img {

 margin-top: 20px; 
}

.projects_2 img {
  margin-top: 20px; 

}


.projects a{
 text-decoration: none;
  color: #353030;
  text-align: center;
  margin-left: 140px;
  
}
.projects_2 a{
  text-decoration: none;
   color: #353030;
   text-align: center;
   margin-left: 140px;
   
 }



.projects a:hover {
color: #f5cb58;
}

.projects_2 a:hover {
  color: #f5cb58;
  }




pre {
  margin-left: 20px;
  padding-left: 10px;
  font-family: monospace;
  font-size: 0.9rem;
  background-color: #a5a5a5; 
}




  
 